        <div class="usa-width-one-whole">
          <div class="operator" style="background-color: #eee; padding: 0 25px 10px;">
            <label for="operator_value_{{num}}">Operator:</label>
            <select name="operator_value_{{ num }}">
              <option value="">
              <option value="+">+ (plus)
              <option value="-">- (minus)
              <option value="*">* (multiply)
              <option value="/">/ (divide)
              <option value="^">^ (to power of)
            </select>
          </div>
        </div>
