<!DOCTYPE html>
 <html lang="en">
 <head>
   <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/uswds/css/uswds.min.css') }}">
 {% block extrahead %}
 <style type="text/css">
 .hide {
  display: none;
 }
 .show {
  display: block;
 }

 .linktrigger {
  cursor: pointer;
  }
  fieldset legend {
  font-size: 2rem;
  font-family: "Merriweather","Georgia","Cambria","Times New Roman","Times",serif;
  }

  .buttonbar {
    margin-top: 4rem;
  }

  .conditional label {
    margin-top: 2rem!important;
  }
 </style>
 {% endblock %}
 </head>
 <body>
 {% block body %}{% endblock %}
 <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
   <script src="{{ url_for('static', filename='css/uswds/js/uswds.js') }}"></script>
  {% block scripts %}
  {% endblock %}
 </body>
 </html>
