<head>
  <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/uswds/css/uswds.min.css') }}">
</head>
<div class="usa-grid" style="margin-top: 5%">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <h3>
    Create rules
  </h3>
  <div class="usa-width-one-half">
    <form method="post" action="/rules/_incoming" enctype="multipart/form-data">
      <table class="usa-table-borderless">
        <tbody>
          <tr>
            <th scope="row"><strong>Rule name:</td>
            <td><input name="name"></td>
          </tr>
          <tr>
            <th scope="row"><strong>Apply to:</td>
            <td>
              <select name="object">
              {% for obj in objects %}
                <option> {{obj}}
              {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row"><strong>If:</td>
              <td>
                <select name="attribute">
                  {% for obj in objects %}
                    {% for attribute in objects[obj] %} <!-- Need to limit this to just attributes on the obj selected -->
                      {% if attribute not in ['rules', 'type'] %}
                        <option value="{{ attribute }}">{{ attribute }}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <select name="operator">
                <option value="==">Equals
                <option value="!=">Does not equal
                <option value="<">Is less than
                <option value=">">Is greater than
                <option value="<=">Is less than or equal to
                <option value=">=">Is greater than or equal to
              </select>
          </tr>
          <tr>
            <th scope="row"><strong>Value:</td>
            <td><input name="compare_value"></td>
          </tr>
          <tr>
            <th scope="row"><strong>Return:</td>
            <td><input name="concur"></td>
          </tr>
          <tr>
            <th scope="row"><strong>If not, return:</td>
            <td><input name="not_concur"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">
              <button value="submit" type="submit">Submit</button>
            </th>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
