<head>
  <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/uswds/css/uswds.min.css') }}">
</head>
<div class="usa-grid" style="margin-top: 5%">
  <h2>
  Rule magic!
  </h2>
  <hr>
  <h3>
  Create some data
  </h3>
  <div class="usa-width-one-half">
    {% for obj in objects %}
      <form method="post" action="/data/_incoming" enctype="multipart/form-data">
        <input name="type" value='{{ objects[obj].type }}' hidden readonly>
        <table class="usa-table-borderless">
          <thead>
            <tr>
              <th colspan="2">{{ obj }}</th>
            </tr>
          </thead>
          {% for key in objects[obj] %}
            {% if key not in ['rules', 'type'] %}
              <tr>
                <th scope="row">{{key}}</th>
                <td><input name="{{key}}"></td>
              </tr>
            {% endif %}
          {% endfor %}
          <tfoot>
            <tr>
              <td colspan="2">
                <button value="submit" type="submit">Submit</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
    {% endfor %}
  </div>
</div>
