{% extends "base.html" %}
{% block body %}
<div class="usa-grid" style="margin-top: 5%">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <h3>
      Create object prototype
  </h3>
  <div class="usa-width-one-half">
    <form method="post" action="/prototypes/_incoming" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      {% for num in range(5) %}
        <label for="attribute_{{num}}">Attribute:</label>
        <input type="text" id="attribute_{{num}}" name="attribute_{{num}}">
      {% endfor %}
      <a class="usa-button usa-button-outline">Add another attribute</a>
      <button value="submit" type="submit">Save object</button>
    </form>
  </div>
</div>
{% endblock %}
