{% extends "base.html" %}
{% block body %}
<div class="usa-grid" style="margin-top: 5%">
  <div class="usa-width-two-thirds">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <h3>
    Create calculations
  </h3>
  <p>
    A calculation is a math-like equation using static values or values derived
    from the attribute of an instance of a prototype. For example, a calculation
    named "double_branches" could be set up to multiply the "branches" value
    of an instance of the previously defined "tree" prototype
    (e.g. 2 * "branches").
  </p>
  <p>
    A calculation may be permanently associated with a prototype or contingently
    associated based on a logic within a separately defined rule. A permanently
    associated calculation will always be executed when a new instance of a
    prototype is created. A contingently associated calculation will be executed
    only when triggered by a rule.
    <br><br>
  </p>
    <form method="post" action="/calculations/_incoming" enctype="multipart/form-data">
       <label for="name">Calculation name:</label>
       <input name="name" />
       <fieldset style="margin-top: 2rem;">
        <legend>Implementation method</legend>

        <label for="contingent">Triggered by rule (contingent on rule):</label>
        <select id="contingent" name="contingent">
          <option value="FALSE">No</option>
          <option value="TRUE">Yes</option>
        </select>

        <div class="use_prototype">
          <label for="object">Using prototype attribute (always calculated):</label>
          <select name="object">
            <option value="">
          {% for obj in prototypes %}
            <option> {{obj}}
          {% endfor %}
          </select>
        </div>
      </fieldset>
    </div>
    <div class="formulae">
      <div class="usa-width-one-whole">
        <h3 style="margin-top: 2rem;">Enter operations</h3>
      </div>
      <div class="usa-width-one-whole">
      {% for num in range(2) %}
        {% include "_calculation_value_input.html" %}
        {% if num == 0 %}
          {% include "_calculation_operator_input.html" %}
        {% endif %}
      {% endfor %}
      </div>
      {% for num in range(2,6) %}
      <div class="hide usa-width-one-whole">
        {% include "_calculation_value_input.html" %}
        {% if num != 5 %}
          {% include "_calculation_operator_input.html" %}
        {% endif %}
      </div>
      {% endfor %}
      </div>
      <div class="usa-width-one-whole buttonbar">
      <a class="usa-button usa-button-outline show_next_attr linktrigger">Add another operation</a>
      <button value="submit" type="submit">Create calculation</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
<script>
var $ = jQuery;
// hide attribute values by default
$('[name*="attribute_value"]').hide();
$('[for*="attribute_value"]').hide();

//only show either static or attr val
$('#contingent').on('change', function() {
  if (this.value == "FALSE") {
    $('.use_prototype').slideDown();
  } else {
    $('.use_prototype').slideUp();
  }
});

$('.show_hide_attr_val').on('click', function(e) {
  console.log(this);
  this.parentElement.getElementsByClassName('attr-input').toggle();
  this.parentElement.getElementsByClassName('static-input').toggle();
});

var hiddenVals = document.querySelectorAll('.formulae .hide');
var showCounter = 0;
$('.show_next_attr').on('click', function(event) {
  $(hiddenAttrs[showCounter]).show();
  showCounter += 1;
});
</script>
{% endblock %}
