<head>
  <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/uswds/css/uswds.min.css') }}">
</head>
<div class="usa-grid" style="margin-top: 5%">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <h3>
    Create calculations
  </h3>
  <div class="usa-width-one-two-thirds">
    <form method="post" action="/calculation/_incoming" enctype="multipart/form-data">
      <table class="usa-table-borderless">
        <tbody>
          <tr>
            <th scope="row"><strong>Calculation name:</td>
            <td><input name="name"></td>
          </tr>
          <tr><td></td></tr>
          <tr><td colspan="2"><strong>Implemention method</td></tr>
          <tr>
            <th scope="row">By rule (contingent on rule):</th>
            <td>
              <select name="contingent">
                <option value="">
                <option value="TRUE">Yes
                <option value="FALSE">No
              </select>
            </td>
          <tr>
            <td><strong>OR</td>
          </tr>
          <tr>
            <th scope="row">Directly on prototype (always calcuated):</td>
            <td>
              <select name="object">
                <option value="">
              {% for obj in prototypes %}
                <option> {{obj}}
              {% endfor %}
              </select>
            </td>
          </tr>
          <tr><td></td></tr>
          {% for num in range(6) %}
          <tr>
            <th scope="row"><strong>Static value:</td>
            <td><input name="static_value_{{ num }}"></td>
            <td><strong>or value from attribute:</td>
            <td>
              <select name="attribute_value_{{ num }}">
                <option value="">
                {% for obj in prototypes %}
                  {% for attribute in prototypes[obj] %} <!-- Need to limit this to just attributes on the obj selected -->
                    {% if attribute not in ['rules', 'type'] %}
                      <option value="__{{ attribute }}__">{{ attribute }}
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </select>
            </td>
          </tr>
          {% if num != 5 %}
          <tr>
            <th scope="row"><strong>Operator:</th>
            <td>
              <select name="operator_value_{{ num }}">
                <option value="">
                <option value="+">+ (plus)
                <option value="-">- (minus)
                <option value="*">* (multiply)
                <option value="/">/ (divide)
                <option value="^">^ (to power of)
              </select>
            </td>
          </tr>
          {% endif %}
            {% endfor %}
            <tr>
              <td>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">
              <button value="submit" type="submit">Submit</button>
            </th>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
