{% extends "base.html" %}
{% block body %}
<div class="usa-grid" style="margin-top: 5%">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <div class="usa-width-one-two-thirds">
    First, <a href='/prototypes/create'>create an object prototype</a>.<br><br>
    Second, create some
    <a href='/calculation/create'>calculations for new object prototype</a>
    and
    <a href='/rules/create'>rules for your new object prototype</a>.<br><br>
    Third, <a href='/data/create'>enter sample data to test rule</a>.<br>
    <br>
    <br>
    <a href='/clear/rules'>Clear all prototypes, rules, and calculations</a><br>
    <a href='/clear/data'>Clear all data</a>
  </div>
</div>
{% endblock %}
