<head>
  <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/uswds/css/uswds.min.css') }}">
</head>
<div class="usa-grid" style="margin-top: 5%">
  <h2>
    Rule magic!
  </h2>
  <hr>
  <div class="usa-width-one-half">
    First, <a href='/prototypes/create'>create an object prototype</a>.<br>
    Second, <a href='/rules/create'>create a rule for your new object prototype</a>.<br>
    Third, <a href='/data/create'>enter sample data to test rule</a>.<br>
    <br>
    <br>
    <a href='/clear'>Clear all data</a>
  </div>
</div>
